@import url("https://lavcorps-line.duckdns.org/resources/css/fonts/PTMono.css");
@import url("https://lavcorps-line.duckdns.org/resources/css/fonts/PTSans.css");
/*@import url("https://lavcorps-line.duckdns.org/resources/css/fonts/PTSerif.css");*/

/* Font Management */

html {
    /* Sans, for now.
    TODO: Figure out how to allow a choice between sans and serif.
    */
    font-family: "PT Sans";
}

code {
    /* Mono */
    font-family: "PT Mono" !important;
}

